@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    right: 0;
    box-sizing: border-box;
    background-color:linear-gradient(to bottom,#40E0D0,#a5d6d2,#caf9f5);
}
